.card {
  text-align: left;
  padding: 40px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  margin: 30px;
}

.card:hover {
  transform: translateY(-10px);
}

.card-small {
  width: 150px;
}

.card-large {
  width: 800px;
}

#doggy {
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  margin-bottom: 10px;
}
