div {
  margin-bottom: 40px;
}

/* 카드 스타일 */
.card {
  text-align: left;
  padding: 40px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  margin: 30px;
}

.card:hover {
  transform: translateY(-10px);
}

.card-small {
  width: 250px;
}

.card-large {
  width: 800px;
}

#doggy {
  width: 250px;
  height: 250px;
  object-fit: cover;
  display: block;
  margin-bottom: 10px;
}

/* 텍스트 */
.card-small-name {
  font-size: 20px;
  font-weight: 700;
}
.card-large-name {
  font-size: 30px;
  font-weight: 700;
}
.essential{
  font-weight: 650;
}
.track {
  font-weight: 700;
  font-style: italic;
  color: dodgerblue;
}
.group {
  color: grey;
}
.introduce {
  font-size: 15px;
}

/* 바탕 스타일 */
body {
  background-color: linen;
  align-items: flex-start;
}
